body{
    overflow: hidden;
    background: linear-gradient(#f4f4ed, white);
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
